.AudienceRender {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.AudienceRender > canvas{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 0;
}

.AudienceRender > .code{
    display:flex;
    text-align: left;
}

.column{
    width:100%;
}

#tidalcycles{
    margin:20px;
    color: white;
    z-index: 1;
    position: relative;
}

#hydra{
    margin:20px;
    color: white;
    z-index: 1;
    position: relative;
}