.Track{
    height:100%;
    /*background-color: turquoise;*/
    width:100px;
    border-right:1pt solid rgb(100,100,100);
    padding:5px;
    float:left;
}

.Track input{
    color:white;
    background-color: black;
    border:none;
    width:100%;
    overflow:hidden;
    font-size: 12pt;
    font-weight: normal;
}
