
.Stem {
    display:block;
    height:40px;
    width:100%;
    background-color: var(--stem-off);
    margin-top:15px;
    border-radius: var(--border-radius);
    text-align: center;
    color:var(--font-color-light);
    position:relative;
    box-sizing: border-box;
    overflow:hidden;
    padding:2px;
}

.Stem:focus{
    outline: none;
}

.selected{
    border: 1pt solid var(--select-color);
}

.verticalCenter{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}



.on {
    background-color: var(--stem-on);
}

