.MasterEditor{
    height:100%;
    width:100%;
    background-color: var(--stem-editor-color);
    box-sizing: border-box;
    padding:5px;
    overflow-y:scroll;
}

/*.MasterEditor input{*/
/*    border-bottom: 3pt solid var(--stem-on);*/
/*    color: var(--font-color-dark);*/
/*    background-color: var(--stem-editor-color);*/
/*}*/

.MasterEditor > *{
    display:block;
    margin-top:10px;
    /*text-align: center;*/
    /*width:100%;*/
    /*width:100%;*/
    position: relative;
    box-sizing: border-box;
}

.separator{
    border: 1pt solid var(--stem-off);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding:5px;
}

.separator > textarea {
    height:100px;
    width:100%;
    font-size: 12pt;
    font-family: "Courier New";
    color: var(--font-color-dark);
    background-color: var(--stem-off);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    padding:5px;
}

/*.MasterEditor > div > *{*/
/*    display:inline-block;*/
/*    !*width: 90%;*!*/
/*    min-height: 30px;*/
/*    color:white;*/
/*}*/
