/*:root {*/
/*    --launchspace-bg-color: rgb(0,0,0);*/
/*    --border-radius:5px;*/
/*    --stem-on: rgb(235,255,200);*/
/*    --stem-off: grey;*/
/*    --stem-editor-color:lightgrey;*/
/*    --font-family: 'Helventica', sans-serif;*/
/*    --scrollbar-width: 8px;*/
/*}*/

/*:root {*/
/*    --launchspace-bg-color: rgb(180,180,180);*/
/*    --border-radius:8px;*/
/*    --stem-on: rgb(100,255,200);*/
/*    --stem-off: lightgrey;*/
/*    --stem-editor-color:lightgrey;*/
/*    --font-family: 'Helventica', sans-serif;*/
/*    --font-color-dark: black;*/
/*    --font-color-light: lightgrey;*/
/*    --scrollbar-width: 0px;*/
/*    --track-border-color: rgb(215,215,215);*/
/*}*/

:root {
    --launchspace-bg-color: rgb(10,10,10);
    --border-radius:8px;
    /*--stem-on: #3f51b5;*/
    --stem-on: rgb(100,30,150);
    --stem-off: rgb(70,70,70);
    --stem-editor-color: rgb(30,30,30);
    --font-family: 'Helventica', sans-serif;
    --font-color-dark: rgb(200,200,200);
    --font-color-light: rgb(white);
    --scrollbar-width: 0px;
    --track-border-color: rgb(40,40,40);
}


.App{
    height:100%;
    position: absolute;
    width:100%;
    overflow: hidden;
    display: flex;
}

html, body {
    width:100%;
    height:100%;
    background-color: red;
    margin:0px;
}
* {
    font-family: 'Helventica', sans-serif;
}

button{
    border-radius: 5px;
    border:1pt solid lightgrey;
    background-color: var(--stem-off);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    /*border-radius: 10px;*/
}

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgb(200,200,200);*/
/*}*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}