/*:root {*/
/*    --launchspace-bg-color: rgb(0,0,0);*/
/*    --border-radius:5px;*/
/*    --stem-on: rgb(235,255,200);*/
/*    --stem-off: grey;*/
/*    --stem-editor-color:lightgrey;*/
/*    --font-family: 'Helventica', sans-serif;*/
/*    --scrollbar-width: 8px;*/
/*}*/

/* light teal */
:root {
    --bg-image: linear-gradient(to right, white ,white);
    /*--bg-image: linear-gradient(to right, white , white, white, rgb(100,255,200));*/
    --launchspace-bg-color: transparent;
    /*/--launchspace-bg-color: rgb(180,180,180);*!*/
    --border-radius:8px;
    --stem-on: rgb(100,255,200);
    --stem-off: lightgrey;
    --stem-editor-color:rgba(120,120,120,0.5);
    --font-family: 'Helventica', sans-serif;
    --font-color-dark: black;
    --font-color-light: rgb(30,30,30);
    --scrollbar-width: 0px;
    --track-border-color: rgb(215,215,215);
    --select-color:rgb(100,100,100);
}

/*dark purp */
/*:root {*/
/*    --bg-image: linear-gradient(to right, black , blk.fack, black, rgb(100,30,150));*/
/*    --launchspace-bg-color: transparent;*/
/*    --border-radius:8px;*/
/*    --stem-on: rgb(100,30,150);*/
/*    --stem-off: rgb(70,70,70);*/
/*    --stem-editor-color: rgb(30,30,30);*/
/*    --font-family: 'Helventica', sans-serif;*/
/*    --font-color-dark: rgb(200,200,200);*/
/*    --font-color-light: rgb(white);*/
/*    --scrollbar-width: 0px;*/
/*    --track-border-color: rgb(40,40,40);*/
/*    --select-color: rgb(200,200,200);*/
/*}*/


/*`!* img purp *!*/
/*:root {*/
/*    --bg-image: url(../../assets/3.PNG);*/
/*    --launchspace-bg-color: transparent;*/
/*    --border-radius:8px;*/
/*    --stem-on: rgb(100,30,150);*/
/*    --stem-off: rgba(70,70,70,0.6);*/
/*    --stem-editor-color: rgba(30,30,30,0.9);*/
/*    --font-family: 'Helventica', sans-serif;*/
/*    --font-color-dark: rgb(200,200,200);*/
/*    --font-color-light: rgb(white);*/
/*    --scrollbar-width: 0px;*/
/*    --track-border-color: rgb(40,40,40);*/
/*    --select-color: white;*/
/*}`*/



.App{
    height:100%;
    position: absolute;
    width:100%;
    overflow: hidden;
    display: flex;
    background-color: transparent;
}

.App:focus{
    outline: none;
}

html{
    width:100%;
    height:100%;
    background-color: red;
    margin:0px;
}

body{
    width:100%;
    height:100%;
    background-color: black;
    margin:0px;
    background-image: var(--bg-image);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

* {
    font-family: 'Helventica', sans-serif;
}

button{
    border-radius: 5px;
    border:1pt solid lightgrey;
    background-color: var(--stem-off);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    /*border-radius: 10px;*/
}

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgb(200,200,200);*/
/*}*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}