:root {
    --launchspace-bg-color: rgb(0,0,0);
    --border-radius:5px;
    --stem-on: rgb(235,255,200);
    --stem-off: grey;
    --stem-editor-color:lightgrey;
    --font-family: 'Helventica', sans-serif;
}

.App{
    height:100%;
    position: absolute;
    width:100%;
    overflow: hidden;
}

html, body {
    width:100%;
    height:100%;
    background-color: red;
    margin:0px;
}
* {
    font-family: 'Helventica', sans-serif;
}

button{
    border-radius: 5px;
    border:1pt solid lightgrey;
    background-color: var(--stem-off);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}