
.Render{
    position: relative;
    height:25%;
    width:100%;
    box-sizing: border-box;
    border-top: 1pt solid var(--stem-on);
}

.Render > iframe {
    border:1pt solid var(--stem-editor-color);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


.Render > svg {
    position: absolute;
    right: 0px;
    margin:5px;
    stroke: white;
    height: 20px;
    width: 20px;
    border: none;
    background: transparent;
}


.Render > canvas {
    height:100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
}

/*.Render > iframe {*/
/*    height:100%;*/
/*    width: 100%;*/
/*    opacity: 0.5;*/
/*    pointer-events: none;*/
/*}*/