
.Render{
    position: absolute;
    height:100%;
    width:100%;
    z-index: 999999999;
    pointer-events: none;
}

.Render > canvas {
    height:100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
}