.CodeEditor > textarea {
    height:200px;
    width:100%;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: "Courier New";
    border-radius: var(--border-radius);
    color: var(--font-color-dark);
    background-color: var(--stem-off);
    transition: background 0.0s linear;
    margin-bottom:5px;
    outline: none;
    border:none;
}

.CodeEditor .Liveness{
    height: 40px;
    box-sizing: border-box;
    padding:2px;
}



.CodeEditor .Liveness > * {
    height: 100%;
    float:left;
    /*display: inline-block;*/
}

.CodeEditor .Toggle {
    display: inline-block;
    position: relative;
    padding: 0px;
    width:50px;
    height:100%;
    margin: 0px 5px;
}


.flash {
    transition: all 0.125s linear;
    background-color: var(--stem-on) !important;
}

.CodeEditor{
    margin-bottom: 15px;
}
