.code{
    background-color: rgba(0,0,0,0.5);
}

.trackCode{
    padding-top:20px;
    /*background-color: rgba(0,0,0,0.5);*/
    padding-left:20px;
    position: relative;
}

.stemCode {
    padding-left:20px;
    position: relative;
    /*background-color: rgba(0,0,0,0.2);*/
    width:auto;
    transition: background-color 0.125 linear;
}

.effectCode {
    display: inline-block;
}