
.Flyout{
    width:100%;
    min-width: 300px;
    position:relative;
    height: 75%;
    overflow:hidden;
}

.Tab > label {
    color: var(--font-color-dark);
}

.Tab{

    color: var(--font-color-dark);
    display:inline-block;
    width:100%;
    padding-left:20px;
    padding-right: 20px;
    min-width:70px;
    background-color: var(--stem-on);
    height:100%;
    text-align: center;
    position: relative;
    border-bottom: 2pt solid black;
    opacity: 0.85;
}

.Tab > .indicator{
    height: 2px;
    position: absolute;
    width: 100%;
    /*background-image: linear-gradient(to right,transparent, grey, grey, grey,grey,transparent);*/
    background-color: var(--font-color-dark);
    bottom:0px;
    left:0px;
}

.Tab > svg{
    top:50%;
    right:0px;
    transform: translateY(-50%);
    /*padding:5px;*/
    position: absolute;
}

.content{
    z-index: 2;
    top: 36px;
    width: 100%;
    bottom:0px;
    position: absolute;
    color: var(--font-color-dark);

}

.Tab > label{
    position:relative;
    top:50%;
    display: block;
    overflow-x: hidden;
    transform: translateY(-50%);
}

.unselected{
    opacity:1;
    /*border-bottom:none;*/
}

.scrollbarHidden{
    position:relative;
    height:50px;
    z-index: 0;
}

.TabContainer{
    display:flex;
    height:100%;
    background-color: white;
    position:absolute;
    top:0;
    bottom:5px;
    left:0px;
    right:0px;
    overflow-x:scroll;
    overflow-y:hidden;
}