
.LaunchSpace{
    /*background-color: var(--launchspace-bg-color);*/
    background-color: var(--launchspace-bg-color);
    left:0px;
    top:0px;
    width:100%;
    box-sizing: border-box;
    margin:0px;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.LaunchSpace:focus{
    outline: none;
}

.LaunchSpace .trackEffects{
    z-index: 3;
    position: fixed;
    left:0px;
    bottom:30px;
    /*right:0px;*/
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
    top:40px;
    background-color: rgba(50,50,50, 0.75);
    display: flex;
    text-align: center;
}

.LaunchSpace .TrackContainer {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.LaunchSpace .TrackContainer{
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    overflow-x:scroll;
    white-space: nowrap;
}

.LaunchSpace .TrackContainer > div > * {
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.LaunchSpace .TrackContainer .title {
    height:30px;
    max-height: 30px;
    width: 100%;
}

.LaunchSpace .TrackContainer .stems {
    /*width: 100%;*/
    left: 0px;
    right: 0px;
    position: absolute;
    top:30px;
    bottom:280px;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}

.LaunchSpace .TrackContainer .trackGain {
    position: absolute;
    bottom:0px;
    height:280px;
    overflow-x: hidden;
}

.LaunchSpace .TrackContainer .trackGain > .TrackEffects{
    /*position: absolute;*/
    height: 250px;
    top:0px;
    bottom:5px;
}

.LaunchSpace .TrackContainer td{
    width:50px;
    height: 100%;
}
