
.LaunchSpace{
    /*background-color: var(--launchspace-bg-color);*/
    background-color: var(--launchspace-bg-color);
    left:0px;
    top:0px;
    width:100%;
    box-sizing: border-box;
    margin:0px;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.LaunchSpace:focus{
    outline: none;
}

.LaunchSpace .trackEffects{
    z-index: 3;
    position: fixed;
    left:0px;
    bottom:30px;
    /*right:0px;*/
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
    top:40px;
    background-color: rgba(50,50,50, 0.75);
    display: flex;
    text-align: center;
}
