
.LaunchSpace{
    /*background-color: var(--launchspace-bg-color);*/
    background-color: var(--launchspace-bg-color);
    left:0px;
    top:0px;
    width:100%;
    box-sizing: border-box;
    margin:0px;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.LaunchSpace:focus{
    outline: none;
}